
.laptop{
	display: inline;
}

.mobile{
	display: none;
}

@media(max-width: 991px){
	.mobile{
		display: inline;
	}

	.laptop{
		display: none;
	}
}

body{
	font-family: "Montserrat", sans-serif;
}

.home{
	padding: 72px 0;
	background: #f8f8f8;
}

.home-container-wrapper{
	padding: 72px 0;
}

.home-container-wrapper h1{
	font-weight: 600!important;
	font-size: 54px!important;
}

.name{
	color: #6e89ff;
}

.about{
	padding: 120px 0;
}

.about-container-wrapper{
	padding: 24px 0;
}

.about-container-wrapper h1{
	color: #6e89ff;
	font-weight: 600!important;
	font-size: 54px;
}

.about-text{
	font-weight: 300;
}

.portfolio{
	padding: 120px 0;
	background: #f8f8f8;
}

.portfolio-container-wrapper{
	padding: 48px 0;
}

.portfolio-container-wrapper h1{
	font-weight: 600!important;
	color: #6e89ff;
	font-size: 54px;
}

.portfolio-text{
	font-weight: 300;
}

.project-title{
	cursor: pointer;
	font-weight: 600;
	color: #a944ff!important;
}

.project-text{
	font-weight: 300;
}

.portfolio-website-title{
	color: #4b76e5!important;
}

.polydian-website-title{
	color: #ffa945!important;
}

.thoughts-website-title{
	color: #ff495b!important;
}

.contact{
	padding: 90px 0;
}


.contact-container-wrapper{
	padding: 42px 0;
}

.contact-container-wrapper h1{
	color: #6e89ff;
	font-weight: 600!important;
	font-size: 54px;
}

.contact-text{
	font-weight: 300;
}

.contact-line-icon{
	font-size: 25px!important;
	transition: 750ms;
	padding-left: 5px;
	padding-right: 5px;
	color: #13171c;
}

.footer{
	padding: 42px 0 28px;
	color: #fff;
	font-weight: 300;
	font-size: 18px;
	background: #6e89ff;
}

.footer-name{
	cursor: pointer;
	color: #fff;
	font-weight: 600;
}